
@{
    ViewBag.Title = "Show";
}

@model giSelleRemastered.Models.Category


<h2>Category </h2>
<br />

<h3>@Model.Name</h3>

@if (ViewBag.IsAdmin)
{
<form method="post" action="/Admin/CategoryDelete/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <a class="btn btn-primary" href="/Admin/CategoryEdit/@Model.Id">Edit</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
}
<br />
<a href="~/Category/Index" class="btn btn-primary">Back to list</a>



