@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    London , UK <br />
    Redmond, WA 98052-6399<br />
    Phone : 0203 788 7842
</address>

<address>
    <strong>Feedback to :</strong>   <a href="mailto:tattoo.society@t.soc.uk">tattoo.society@t.soc.uk</a><br />
</address>