
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<ul>
    <!--<li>Html.ActionLink("Products","","")</li> -->
    <li>@Html.ActionLink("Categories", "Index", "Category")</li>
    <!--<li>Html.ActionLink("Reviews","","")</li> -->
</ul>

