
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<ul>
    <li>@Html.ActionLink("Products","Index","Product")</li>
    <li>@Html.ActionLink("Categories", "Index", "Category")</li>
    @if(ViewBag.IsAdmin)
    {
        <li>@Html.ActionLink("Users","UserIndex","Admin")</li>
    }
</ul>

